.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2;
  }
  .Header-checkout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    width: 30px;
  }
  .Header-alert {
    color: #33b13a;
    font-size: 14px;
    margin-left: 5px;
  }
  .Header a {
    text-decoration: none;
    color: #33b1ff;
  }

  @media (max-width: 479px) {
    .Header a {
      font-size: 0.7em;
    }
    .Header-title {
      margin: 0;
    }
    .Header-checkout {
      margin-top: 0.5em;
    }
  }
  